
<% _.each(model, function(post) { %>
		<div class="content pull-right">
			<h3 style="color:#A060D1;"><%- post.title %></h3>
			<h4 style="color:#2BB6ED; font-style: italic"><%-post.createdAt %></h4> 
			<p><%- post.content %></p>
			<% if (req.session.admin) { %>
					<a href="/blog/update?id=<%-post.id%>">edit</a>
					<a href="/blog/delete?id=<%-post.id%>">delete</a>
			<%} %>
		</div>
		<br />
	<% }) %>	
